/* ----------------------------------------------- General --------------------------------------------------- */

body{
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    width: 100vw;
}

p{
    margin-top: 0%;
    margin-bottom: 0%;
}


.center{
    display: flex;
    flex-direction: center;
    align-items: center;
}


button a{
    color: white;
}



/* ----------------------------------------------- Me --------------------------------------------------- */

/* size allowed to the actual player info (name, nb of cards, cards)*/
#me {
    position: fixed;
    bottom: 3vh; /* So that it's not to close tp the bottom */
    left: 0;
    width: 100vw;
    height: 30vh;

    display: flex;
    flex-direction: column; /* Align the content varticaly */
    align-items: center;
    gap: 10px;

    padding: 10px;
}

/* div of my hand */
#myHand {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* White line around card */
.cardInnerWhite {
    height: 18vh;
    max-height: 180px;
    aspect-ratio: 2 / 3;

    background-color: white;
    border-radius: 18px;
    border: 1px solid black;  /* Outer black and visisble */

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

/* Real color of the card */
.cardInnerColor {
    width: 90%;
    height: 90%;

    border-radius: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5vh;
    font-weight: bold;
    color: white;
}



/* Actions on the cards*/
/* Put cards over each other */
.cardInnerWhite:not(:first-child) {
    margin-left: -40px;
}

/* When you pass on a card it put itseft before all the other and show up so you can see it better before playing it */
.cardInnerWhite:hover {
    transform: translateY(-20px);
    z-index: 10;
    transition: 0.2s;
}




/* ----------------------------------------------- ENEMIES --------------------------------------------------- */

.enemyCard {
    /*height: 16vh;
    max-height: 180px;*/
    width: 9vw;
    max-width: 120px;
    aspect-ratio: 2 / 3;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5vh;
    font-weight: bold;
    color: white;

    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);

    /*background: linear-gradient(135deg, red, yellow); /* style UNO-ish */
    background: rgb(209, 2, 2);

    box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
}


.enemyCard:not(:first-child) {
    margin-left: -50px;
}



/* ----------------------------------------------- Enenmy's top --------------------------------------------------- */
#enemyTop {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 100vw;

    height: 25vh;
    margin-top: 0%;
    margin-bottom: 0%;


    display: flex;
    flex-direction: column; /* Align the content varticaly */
    align-items: center; 
}


#enemyTopHand {
    width: 40vw;
    height: 25vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Cards can't get out of the div */
}





/* ----------------------------------------------- Enenmy's right --------------------------------------------------- */
#enemyRight {
    position: fixed;
    top: 30vh;
    right: -10vw;

    width: 50vw;
    height: 25vh;
    margin-top: 0%;
    margin-bottom: 0%;


    display: flex;
    flex-direction: column; /* Align the content varticaly */
    align-items: center; 
}


#enemyRightHand {
    width: 40vw;
    height: 25vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Cards can't get out of the div */
}



/* ----------------------------------------------- Enenmy's left --------------------------------------------------- */
#enemyLeft {
    position: fixed;
    top: 30vh;
    right: 55vw;

    width: 50vw;
    height: 25vh;
    margin-top: 0%;
    margin-bottom: 0%;


    display: flex;
    flex-direction: column; /* Align the content varticaly */
    align-items: center; 
}


#enemyLeftHand {
    width: 40vw;
    height: 25vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Cards can't get out of the div */
}









/* ---------------------------------------------- Draw Pile --------------------------------------------------- */
#assets {
    position: fixed;
    top: 40vh;
    left: 0;
    width: 100vw;

    height: 25vh;
    margin-top: 0%;
    margin-bottom: 0%;


    display: flex;
    flex-direction: column; /* Align the content varticaly */
    align-items: center; 
}


#playedPile {
    position: fixed;
    left: 45vw;
    top: 45vh;
}

#drawPile {
    position: fixed;
    left: 45vw;
}

#uno {
    position: fixed;
    left: 50vw;
}